html,
body {
  height: 100%;
  margin: 0;
}

.App {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center; /* Centre le contenu horizontalement */
  align-items: center; /* Centre le contenu verticalement */
  min-height: 100vh; /* Assure que l'App occupe toute la hauteur de l'écran */
  flex-direction: column; /* Aligne les éléments verticalement */
  text-align: center; /* Centre le texte */
  width: 100%; /* Prend toute la largeur de la page */
  box-sizing: border-box; /* Assure que le padding ne dépasse pas la largeur */
  padding: 20px; /* Ajoute du padding autour pour éviter que le contenu ne colle aux bords */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

.upload-item {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  text-align: left;
  background-color: #1c9ece;
  position: relative;
}

.progress-bar {
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
}

.progress {
  background-color: #4caf50;
  height: 20px;
}

button:hover {
  background-color: #e51313;
}
